@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: #F8F7F2;

}

.navcolor{
    background-color: #F8F0E5;
}
.menucolor{
    background-color: #EADBC8;
}
.maincolor{
    background-color: #EADBC8;
}
.textcolor{
    color: #17468A;
}
.cls-1 {
    font-family: Espiritu-Condensed, Espiritu;
    font-size: 60px;
}

.cls-1, .cls-2 {
    fill: #17468a;
}

.cls-2, .cls-3 {
    stroke-width: 0px;
}

.cls-3 {
    fill: #0f2c59;
}

.cls-4 {
    font-family: Espiritu-Condensed, Espiritu;
    font-size: 124.75px;
}
.cls-5 {
    fill: #fff;
    stroke-width: 0px;
}


.cls-12 {
    font-family: Espiritu-Condensed, Espiritu;
    font-size: 60px;
}

.cls-12, .cls-22 {
    fill: #fff;
}

.cls-22 {
    stroke-width: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



.pad{
    padding-top: 80px;
}



.caracteristicas {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;

}

.interior-caracteristicas {
    display: flex;
    flex-direction: row;
}

.box {
    height: 100%;
    background-color: #E1E3E6;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    align-items: center;
    color: #0f2c59;
}



.box:last-child {
    margin-right: 0;
}

.footer {
    background-color: #0f2c59;
    padding-top:0 ;

    bottom: 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {

    padding:  15px;
}

.footer-links h4 {
    font-size: 14px;

    color: #dac0a3;
    margin-bottom: 15px;
    font-weight: 500;
    border-bottom: 2px solid #eadbc8;
    display: inline-block;
    padding-bottom: 10px;
}

.footer-links ul li a {

    font-size: 12px;

    text-decoration: none;
    color: #f8f0e5;
    display: block;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.logo-foot {
    padding-top: 30px;
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}

.social-link a {
   
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f8f0e5;
    transition: all 0.5s ease;
}

.social-link a:hover {
    background-color: aqua;
}

.oculto {
  display: none;
}
.main-perfil {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.topbar {
  background-color: #dac0a3;
  color: #0f2c59;
  overflow: hidden;
  border-radius: 20px;
}
.topbar a {
  float: right;
  color: #0f2c59;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 26px;
}
.sidebar {
  background-color: #0f2c59;
  color: #f8f0e5;
  height: 100%;
  border-radius: 20px;
}
.sidebar a {
  margin-left: 10px;
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.container {
  background-color: whitesmoke;
}

#botones > h3 > button {
  border-radius: 10px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

#botones > h3 > button:hover {
  background-color: aqua;
  transition: all 0.5s ease;
  color: #0f2c59;
  padding-left: 6px;
}

#botones-usuario > h3 > button {
  border-radius: 10px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

#botones-usuario > h3 > button:hover {
  background-color: chartreuse;
  transition: all 0.5s ease;
  color: #0f2c59;
  padding-left: 6px;
}

#botones-servicio > h3 > button {
  border-radius: 10px;
  margin-top: 5px;
  transition: all 0.3s ease;
}

#botones-servicio > h3 > button:hover {
  background-color: yellow;
  transition: all 0.5s ease;
  color: #0f2c59;
  padding-left: 6px;
}

.ordenarPor {
    color: gray;
    copacity: 2.0;    
}
