<nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 " aria-label="Global">

    <div class="relative flex lg:flex-1 justify-evenly">
        <button id="servicios" type="button" class="flex items-center gap-x-1 text-sm font-sans leading-6 textcolor " aria-expanded="false">
            <p class="text-base">Servicios</p>
            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </button>
        <div id="menu" class="absolute top-full z-10 mt-3 w-fit max-w-md hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 menu" style="right: 75px">
            <div class="p-4">
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50" th:each="especialidad : ${especialidades}">
                    <div class="flex h-11 w-11 flex-none items-center justify-center">
                        <a th:href="@{/registroProveedor}">
                            <i class="fa-solid fa-briefcase"></i>
                        </a>
                    </div>
                    <div class="flex-auto">
                        <a th:href="@{/busqueda/__${especialidad.nombre}__}" class="block font-sans textcolor">
                            <p class="text-base" th:value="${especialidad.nombre}" th:text="${especialidad.nombre}"></p> 
                            <span class="absolute inset-0"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="relative flex lg:flex-1 justify-evenly">
        <a th:href="@{/experiencias}" class="text-sm font-sans leading-6 textcolor"><p class="text-base">Experiencias</p></a>
    </div>


    <div class="relative flex lg:flex-1 justify-evenly">
        <a th:href="@{/}">
            <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" widht="70" height="70" viewBox="0 0 395 263">
                <text class="cls-1" transform="translate(269.13 206.23) scale(.95 1)"><tspan x="0" y="0">A P P</tspan></text>
                <text class="cls-1" transform="translate(50.44 206.82) scale(.95 1)"><tspan x="0" y="0">S E R V</tspan></text>
                <path class="cls-3" d="m152.43,0l-45.71,36.98-.9.73-.41-14.39h-46.01v51.96L0,123.35l7.04,8.98,32.14-25.6.31,156.27h222.54v-34.41h-12.48l.15,23.4-198.38.15V98.09L150.39,17.29l99.17,81.35.11,35.96c1.86-.84,3.88-1.3,5.99-1.3,2.25,0,4.4.52,6.36,1.47v-27.81l30.91,25.6,8.16-7.98L152.43,0Zm-82.02,66.37V31.9l23.47.1.08,15.31-23.56,19.06Z"/>
                <path class="cls-2" d="m265.06,201.1v-37.93c3.62-2.68,5.95-6.83,5.95-11.49,0-8.08-7-14.64-15.64-14.64s-15.64,6.55-15.64,14.64c0,4.66,2.32,8.81,5.95,11.49v37.93c-4.15,2.72-6.85,7.15-6.85,12.16,0,5.88,3.73,10.97,9.16,13.43l-1.02-11.37,4.01-3.02,4.65-3.51,4.95,3.51,4.1,2.9-1.8,11.44c5.36-2.48,9.04-7.54,9.04-13.37,0-5-2.7-9.43-6.85-12.16Zm-6.98-3.57h-5.56v-30.48h5.56v30.48Zm-2.78-52.5c3.89,0,7.04,2.95,7.04,6.59s-3.15,6.59-7.04,6.59-7.04-2.95-7.04-6.59,3.15-6.59,7.04-6.59Z"/>
            </svg>
        </a>
    </div>

    <div th:if = "${session.usersession == null}" class="relative flex lg:flex-1 justify-evenly" >
        <a  th:href="@{/login}" class="text-sm font-sans leading-6 textcolor"><p class="text-base">Ingresar</p></a>
    </div>

    <div th:if = "${session.usersession == null}" class="relative flex lg:flex-1 justify-evenly">
        <button id="reg" type="button" class="flex items-center gap-x-1 text-sm font-sans leading-6 textcolor" aria-expanded="false">
            <p class="text-base">Registrate</p>
            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </button>
        <div id="menuReg" class="absolute -left-8 top-full z-10 mt-3 w-fit max-w-md hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
            <div class="p-4">
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                    <div class="flex h-11 w-11 flex-none items-center justify-center ">
                        <a th:href="@{/registroUsuario}">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </div>
                    <div class="flex-auto">
                        <a th:href="@{/registroUsuario}" class="block font-sans textcolor">
                            <p class="text-base">Usuario</p> 
                            <span class="absolute inset-0"></span>
                        </a>
                    </div>
                </div>
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                    <div class="flex h-11 w-11 flex-none items-center justify-center ">
                        <a th:href="@{/registroProveedor}">
                            <i class="fas fa-wrench"></i>
                        </a>
                    </div>
                    <div class="flex-auto">
                        <a th:href="@{/registroProveedor}" class="block font-sans textcolor">
                            <p class="text-base">Proveedor</p>
                            <span class="absolute inset-0"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!--    Opciones cuando se ingresa con sus credenciales -->

    <!-- Opciones del boton Gestionar -->

    <div th:if = "${session.usersession != null}" class="relative flex lg:flex-1 justify-evenly">

        <button id="gest" type="button" class="flex items-center gap-x-1 text-sm font-sans leading-6 textcolor" aria-expanded="false">
            <p class="text-base">Gestionar</p>
            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </button>

        <!--meu desplegable de GESTIONAR para USUARIO SUPREMO-->

        <div   th:if="${#strings.equalsIgnoreCase(session.usersession.rol, 'ADMIN')}" >

            <!--parte interna del menu gestionar Usuario Supremo-->
            <div id="menuGest" class="absolute rigth top-full z-10 mt-3 w-fit max-w-md hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5" style="right: 90px">
                <div class="p-4">

                    <!--gestionar usuarios y provedores-->

                    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center ">
                            <a th:href="@{/admin/usuarios}">
                                <i class="fas fa-user"></i>
                            </a>
                        </div>
                        <div class="flex-auto">
                            <a th:href="@{/admin/usuarios}" class="block font-sans textcolor">
                                <p class="text-base">Usuarios y Proveedores</p> 
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>

                    <!--gestionar especialidades-->

                    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center ">
                            <a th:href="@{/admin/listaEspecialidades}">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </div>
                        <div class="flex-auto">
                            <a th:href="@{/admin/listaEspecialidades}" class="block font-sans textcolor">
                                <p class="text-base">Especialidades</p>
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>
                    
                    <!--gestionar calificaciones-->

                    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center ">
                            <a th:href="@{/admin/listaEspecialidades}">
                                <i class="fa-solid fa-star"></i>
                            </a>
                        </div>
                        <div class="flex-auto">
                            <a th:href="@{/admin/listaEspecialidades}" class="block font-sans textcolor">
                                <p class="text-base">Calificaciones</p>
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--meu desplegable de GESTIONAR para USUARIO/PROVEEDOR-->

        <div th:if="${#strings.equalsIgnoreCase(session.usersession.rol, 'USUARIO') || #strings.equalsIgnoreCase(session.usersession.rol, 'PROVEEDOR')}">

            <!--parte interna del menu gestionar Usuario/Proveedor-->
            <div id="menuGest" class="absolute rigth top-full z-10 mt-3 w-fit max-w-md hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5" style="right: 90px">
                <div class="p-4">

                    <!--gestionar contrataciones-->

                    <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center ">
                            <a th:href="@{/usuario/contrataciones}">
                                <i class="fas fa-wrench"></i>
                            </a>
                        </div>
                        <div class="flex-auto">
                            <a th:href="@{/usuario/contrataciones}" class="block font-sans textcolor">
                                <p class="text-base">Contrataciones</p> 
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if = "${session.usersession != null}" class="relative flex lg:flex-1 justify-evenly">

        <button id="btnPerfil" type="button" class="flex items-center gap-x-1 text-sm font-sans leading-6 textcolor" aria-expanded="false">
            <div th:if="${session.usersession.imagen == null}">
                <a href="#"  class="flex items-center gap-1" >
                    <img class="w-8 h-8 bg-gray-100 rounded-full" alt="user " srcset="https://image.canva.com/qmQiDtB6HIEYy119mXWIfQ%3D%3D/criAPDObnbY3yLh0M-zCPw%3D%3D.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAQYCGKMUH25PN7VSL%2F20230919%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20230919T133336Z&amp;X-Amz-Expires=40064&amp;X-Amz-Signature=a75612fb66b601c8adfcd48d89d09a73599bf9dba5f5d6a4312b34579618f000&amp;X-Amz-SignedHeaders=host&amp;response-expires=Wed%2C%2020%20Sep%202023%2000%3A41%3A20%20GMT 800w" sizes="(max-width: 600px) 20vw, (max-width: 900px) 20vw, 20px" src="./user - Iconos de Canva_files/criAPDObnbY3yLh0M-zCPw==.png">
                        <p class="text-base font-sans leading-6 textcolor flex items-center gap-1" th:text="${session.usersession.nombre}"></p>
                </a>
            </div>

            <div th:if="${session.usersession.imagen != null}">
                <a href="#"  class="flex items-center gap-1" >
                    <img class="w-8 h-8 bg-gray-100 rounded-full" th:src="@{/imagen/perfil/__${session.usersession.id}__}" >
                        <p class="text-base font-sans leading-6 textcolor flex items-center gap-1" th:text="${session.usersession.email}"></p>
                </a>
            </div>
            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </button>
        <div id="menuPerfil" th:if = "${session.usersession != null}" class="hidden absolute -left-8 top-full z-10 mt-3 w-fit max-w-md rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
            <div class="p-4">
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                    <div class="flex h-11 w-11 flex-none items-center justify-center ">
                        <a href="#">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </div>
                    <div th:if="${!#strings.equalsIgnoreCase(session.usersession.rol, 'PROVEEDOR')}" class="flex-auto">

                        <a th:href="@{/usuario/perfilUser/__${session.usersession.id}__}" class="block font-sans textcolor">

                            <p class="text-base">Ver perfil</p> 

                            <span class="absolute inset-0"></span>
                        </a>

                    </div>
                    <div th:if="${#strings.equalsIgnoreCase(session.usersession.rol, 'PROVEEDOR')}" class="flex-auto">

                        <a th:href="@{/usuario/perfilProvider/__${session.usersession.id}__}" class="block font-sans textcolor">

                            <p class="text-base">Ver perfil</p> 

                            <span class="absolute inset-0"></span>
                        </a>

                    </div>
                </div>
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                    <div class="flex h-11 w-11 flex-none items-center justify-center ">
                        <a href="/logout" >
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                    <div class="flex-auto">
                        <a href="/logout" class="block font-sans textcolor">
                            <p class="text-base">Cerrar sesión</p>
                            <span class="absolute inset-0"></span>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>

</nav>